.profileCard {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  padding-bottom: 1rem;
  overflow: clip;
  background-color: #ededed;
  /* padding-bottom: 1rem; */
}

.profileImages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImages > .coverImg {
  width: 100%;
}

.profileImages > .profileImg {
  width: 6rem;
  border-radius: 50%;
  position: absolute;
  bottom: -3rem;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
}

.profileName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 10px;
  font-weight: 300;
  font-size: 14px;
}

.profileName > span:nth-last-of-type(2) {
  font-weight: 500;
}

/* Follow status */
.followStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.followStatus > .hl {
  width: 85%;
  border-top: 1px solid #44444444;
}

.followStatus > .followStatus-container {
  display: flex;
  gap: 1rem;
  width: 80%;
  justify-content: space-around;
  align-self: center;
}

.followStatus .follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
}

.follow > span:nth-last-of-type(2) {
  font-weight: 500;
}

.follow > span:nth-last-of-type(1) {
  color: #444;
  font-size: 13px;
}

.followStatus .vl {
  height: 100%;
  border-left: 1px solid #44444444;
}

.profileCard > span {
  font-weight: 500;
  color: #DA0037;
  align-self: center;
  cursor: pointer;
}
