.home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 0;
  /* overflow: hidden; */
  scrollbar-width: none;
}